@import "./../config";

//Container

.main-container {
  padding: 10px 24px !important;
  display: flex;
  flex-wrap: wrap;
  .title {
    font-weight: bolder;
    margin: 10px !important;
  }

  .card-item {
    margin: 10px 5px !important;
    width: 250px !important;
  }
}
