@font-face {
  font-family: google;
  src: url(./../assets/font/GoogleSans-Regular.ttf);
}

$font-stack: google, serif;

$primary-color: #8854d0;
$secondary-color: #fac024;

$primary-font: #050505;
$secondary-font: #8a8c90;

$shadow-header: rgba(138, 140, 144, 0.5);

$background: #e5e5e5;

$blue: #387aef;
$white: #fff;
