@import "./../config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Header

header {
  display: flex;
  flex: 1;
  background-color: $white;
  height: 45px;
  padding: 10px 40px;
  box-shadow: 0 0 5px 0px $shadow-header;
  position: sticky;

  .category {
    display: flex;
    .category-title {
      margin-left: 5px !important;
      margin-top: 13px !important;
      font-weight: bold;
      color: $secondary-font;
      font-size: 13px;
    }

    img {
      width: 13px;
      height: 13px;
      margin-top: 15px !important;
    }
  }

  .row {
    width: 100%;
    padding: 0 30px !important;
    img.app-logo {
      width: 60px;
      height: 28px;
      margin-top: 8px !important;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      background-color: $background;
      outline: none;
      border: none;
      width: 20rem;
      padding: 10px !important;
      font-size: 15px;
      height: 28px;
      border-radius: 3px;
      margin-top: 8px !important;
    }
  }
  .course-section {
    width: 100% !important;
    display: flex !important;
    justify-content: flex-end;

    .my-course {
      font-weight: bold;
      color: $primary-font;
      font-size: 13px;
      margin-top: 13px !important;
      margin-right: 20px !important;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    .switch-button {
      width: 200px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      border: 1px solid $primary-color;
      font-weight: bold;
      border-radius: 3px;
      font-size: 13px;
      margin-top: 10px !important;
      margin-right: 20px !important;
      color: $primary-color;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        border: none;
        background-color: $primary-color;
        color: $white;
      }
    }

    .profile-thumb {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: 5px !important;
      margin-left: 20px !important;
      cursor: pointer;

      .profile-pict {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }

    //this When IsLogin = False

    .btn-login-header {
      width: 60px;
      height: 35px;
      border: 1px solid $blue;
      margin-right: 4px !important;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px !important;
      border-radius: 5px;
      color: $blue;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    .btn-register-header {
      width: 80px;
      height: 35px;
      background-color: $blue;
      margin-left: 4px !important;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px !important;
      border-radius: 5px;
      color: $white;

      &:hover {
        cursor: pointer;
        background-color: rgba(56, 123, 239, 0.746);
      }
    }
  }
}
