@import "./../config";

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

#root {
  background-color: $background;
  font-family: $font-stack;
}

.container {
  width: 100%;
}
